*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}
.contenedor-input{
    margin-bottom: 10px;
}
.form{
    display:flex;
    justify-content: center;
}
.formulario-input{
    font-size: 20px;
    width: 35%;
}