*{
margin: 0;
padding: 0;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
box-sizing: border-box;
}
.formu{
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 10px;
}