*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}
.descripcion{
    display: flex;
    justify-content: center;
    font-weight: 100;
    font-size: 30px;
    margin-bottom: 15px;
}
.text{
    text-align: center;
    width: 60%;
}