*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}
.titulo-principal{
    font-size: 60px;
    font-weight: bold;
    padding: 10px;
    margin: 20px;
}